<div class="home">
	<!-- Image by https://unsplash.com/@peecho -->
	<div class="home_background parallax-window" data-parallax="scroll" data-image-src="images/crewdragon.jpg" data-speed="0.8"></div>
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="home_content">
					<div class="home_content_inner">
						<div class="m-5 pb-5"></div>
						<div class="row"></div>
						<div class="row">
							<div class="col-md-6 offset-md-3 text-center">
								{% if userSession %}

									{% include "partials/home-view-project.html" %}

								{% else %}
									{% include "partials/home-retrieve-project-form.html" %}

								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>