<!-- Template to render the  project name and a button group to view project ,
 timeline or to delete a PAT Project stored in the session repo  
A user can only work on one project at a time -->

<div class="find_title text-center">Project : {{  project.projectName | capitalize }}</div>
<div class="btn-group" role="group" aria-label="Par">
    <form  method="GET" action="/summary">
        <input type="hidden" name="timeline" value={{ project.projectUrl}}>
        <button id="giturl_button" type="submit" class="btn btn-outline-primary btn-lg">Render Timeline</button>

    </form>

    <form  method="GET" action="/projectfiles">
        <input type="hidden" name="projectUrl" value={{ project.projectUrl}}>
        <button id="giturl_button" type="submit" class="btn btn-outline-secondary btn-lg">View Project files</button>

    </form>
    <!-- Remove Project from repo trigger modal -->
    <button type="button" class="btn btn-outline-danger btn-lg" data-toggle="modal" data-target="#exampleModalCenter">
        <i class="fa fa-trash"></i>Remove Project
      </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Remove Project</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="mb-0 text-center"> Do you want to delete PAT project{{  project.projectName | capitalize }} from the local repository?  </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger">Remove</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<p class="mb-0 text-white text-center"> You will need to remove this project before retrieving a new PAT project  </p>