<!-- Form template enabling the user to enter  a valid PAT 
  project URL to be retrieved for local storage and processing  -->

<div class="col-12">
    <div class="find_title text-center">PAT Project Editor</div>
</div>
<form class="form-inline" method="POST" action="/project">
    <div class="input-group">
        <label for="giturl"></label>
        <input type="text" id="giturl_input" name="giturl" class="form-control form-control-lg destination find_input" size="50"  placeholder="Enter a git URL..." required>
        <div class="input-group-btn">
            <button id="giturl_button" type="submit" class="btn btn-default newsletter_button">Retrieve Project</button>
        </div>
    </div>

</form><br>
<blockquote class="blockquote">
    <p class="mb-0 text-white text-center"> Bootstrap your EVA procedures using an easy to edit tasks summary timeline </p>
</blockquote>