{% extends "_index_layout.html" %}

{% block content %}
{% include "partials/home.html" %}


	<div class="services">
		<div class="container">
			<div class="row">
			
				<div class="col">
					<div class="section_title text-center">
						 <img class="img-responsive center-block" src="images/eva-insignia-sm.png" alt="">
						 <div>procedure web editor</div>
						 <h2>How it works</h2>

					</div>
				</div>
			</div>
			<div class="row icon_box_container">

				<!-- Icon Box -->
				<div class="col-lg-4 icon_box_col">
					<div class="icon_box">
						<div class="icon_box_image"><img src="images/briefcase.svg" class="svg" alt="https://www.flaticon.com/authors/monkik"></div>
						<div class="icon_box_title">Upload Project</div>
						<p class="icon_box_text"> Retrieve a PAT project from a GitLab repository to view the data files </p>

					</div>
				</div>

				<!-- Icon Box -->
				<div class="col-lg-4 icon_box_col">
					<div class="icon_box">
						<div class="icon_box_image"><img src="images/folder-management.svg" class="svg" alt="https://www.flaticon.com/authors/monkik"></div>
						<div class="icon_box_title">View Timeline</div>
						<p class="icon_box_text">Pick an EVA file to build and render a summary timeline of the procedure tasks </p>

					</div>
				</div>

				<!-- Icon Box -->
				<div class="col-lg-4 icon_box_col">
					<div class="icon_box">
						<div class="icon_box_image"><img src="images/checklist.svg" class="svg" alt="https://www.flaticon.com/authors/monkik"></div>
						<div class="icon_box_title">Edit and Save</div>
						<p class="icon_box_text">Insert, delete or reorder tasks and save the updates back to the repository</p>

					</div>
				</div>

			</div>
			<div class="row justify-content-around ">
    <div class="col-3 ">
      		<button  class="newsletter_button"><a href="https://github.com/xOPERATIONS/pat" ><i class="fa fa-github fa-2x"></a></i></button>
    </div>
    <div class="col-3">
    	<button  class="newsletter_button"><a href="#" ><i class="fa fa-youtube fa-2x"></a></i></button>
    </div>
  </div>
		</div>
	</div>

{% endblock %}