{% extends "_summary_layout.html" %} {% block content %}

<h2 class="text-center">{{ sessionDoc.procedureDetails.procedure_name | capitalize}} - Summary Timeline</h2>
<div class="container   p-3">
  <div class="row " style="column-count: 4;">
      <div class="sub-col-t" style="width:10%;">
        <!--<h4 class="border text-center" style="color:#ffffff;border-color:#ffffff">T</h4>-->
        <ul id="crew" style="border-right: thick solid #000000;">
          <li
            id="{{ procedure.position }}"
            style="border-bottom:1px,solid,#ff0000;;height:40px;">
          </li>
          {% for time in ['00:00','00:30','01:00','01:30','02:00','02:30','03:00','03:30','04:00','04:30','05:00','05:30','06:00','06:30'] %} 
          <li
            id="{{ procedure.position }}"
            style="border-bottom:1px,solid,#ff0000;height:60px;text-align: right;">
            {{time}} -
          </li> 
          {% endfor %}
        </ul>
      </div>
      <div class="sub-col-li" style="width:38%;margin-left: 1%;margin-right: 1%;">
          {% set header = sessionDoc.columnHeaderText %}
        <h4 class="border text-center">{{ header| first }}</h4>
        <ul class=" sortable-list list-group" id="crew">
          {% for procedure in actor1 %} {% for task in taskDoc.tasksDetails %} {% if (procedure.file === task.file) and
          (procedure.column === task.crew) %}
          <li
            id="{{ procedure.position }}"
            class="list-group-item ui-state-default "
            style="background-color:{{ procedure.color }}; height:{{task.cellHeight}}px"
          >
            {{ task.title | center}}
            <span class="badge duration">{{ task.hours }}:{{ task.minutes}}</span><a class="delete" href="/summary/delete?itemId={{ procedure.position }}"><i class="fa fa-remove "></i></a></li>
          </li>
          {% endif %} {% endfor %} {% endfor %}
        </ul>
      </div>
      <div class="sub-col-li" style="width:38%;margin-left: 1%;margin-right: 1%;">
          {% set header = sessionDoc.columnHeaderText %}
          <h4 class="border text-center">{{ header| last }}</h4>
          <ul class="sortable-list1 list-group" id="crew">
            {% for procedure in actor2 %} {% for task in taskDoc.tasksDetails %} {% if (procedure.file === task.file) and
            (procedure.column === task.crew) %}
            <li
              id="{{ procedure.position }}"
              class="list-group-item ui-state-default"
              style="background-color:{{ procedure.color }}; height:{{task.cellHeight}}px">
              {{ task.title | center}}
              <span class="badge duration">{{ task.hours }}:{{ task.minutes}}</span><a class="delete" href="/summary/delete?itemId={{ procedure.position }}"><i class="fa fa-remove "></i></a>
            </li>
            {% endif %} {% endfor %} {% endfor %}
          </ul>
      </div>
      <div class="sub-col-t" style="width: 10%;">
        <!--<h4 class="border text-center" style="color:#ffffff;border-color:#ffffff">T</h4>-->
        <ul id="crew" style="border-left: thick solid #000000;">
          <li
            id="{{ procedure.position }}"
            style="border-bottom:1px,solid,#ff0000;;height:40px;">
            
          </li>
          {% for time in ['00:00','00:30','01:00','01:30','02:00','02:30','03:00','03:30','04:00','04:30','05:00','05:30','06:00','06:30'] %} 
          <li
            id="{{ procedure.position }}"
            style="border-bottom:1px,solid,#ff0000;height:60px;">
            - {{time}}
          </li>
          {% endfor %}
        </ul>
      </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"
></script>

<script>
  $(".sortable-list").sortable({
    connectWith: ".sortable-list",
    axis: "y",
   containment: "#crew",
    update: function(event, ui) {
      var changedList = this.id;
      var positions = $(this).sortable("toArray");
      const ids = {
        id: changedList,
        positions: positions
      };
      $.post("/summary/ordering", ids, function(res) {
       location.reload(true);});
    }
  });
   $(".sortable-list1").sortable({
    connectWith: ".sortable-list1",
    axis: "y",
   containment: "#crew",
    update: function(event, ui) {
      var changedList = this.id;
      var positions = $(this).sortable("toArray");
      const ids = {
        id: changedList,
        positions: positions
      };
      $.post("/summary/ordering", ids, function(res) {
       location.reload(true);});
    }
  });
  $('.delete').click(function(){
  
    $(this).parent().remove();   
   location.reload(true);
});
</script>
{% endblock %}