{% extends "_summary_layout.html" %} {% block content %}

<h2 class="text-center">{{ sessionDoc.procedureDetails.procedure_name}} - Summary Timeline</h2>

<div class="container   p-3">
<p class="text-center"> Use the "<i class="fa fa-bars"></i>" button to reorder a task , and “<i class="fa fa-remove "></i>” to remove a task </p>
   <div class="row offset-md-2">
    <div class="col-md-6 ">
    {% if insertdoc != 0 %}
    <div class="dropdown">
  <button class="btn  btn-outline-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   <i class="fa fa-plus-square-o fa-fw" ></i> Insert Tasks
  </button>
  <p class="small"> Inserted task are placed at the bottom of the timeline. <br> Drag and drop to the appropriate location after insertion.</p>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  {% for item in insertdoc %}
    <a class="dropdown-item" href="/summary/insert?file={{ item.task.file }}">{{ item.task.file| replace
                  (".yml","")}}|{{ item.task.roles.crewA}}|{{ item.task.roles.crewB}}</a>
    {% else %}
  <p>No task to insert !</p>
{% endfor %}
  </div>
   </div>
  {% endif %}
    </div>
    <div class="col-md-6 ">
  {% if  isSaveButton %}
   <button type="button" class="btn btn-outline-secondary btn-lg" data-toggle="modal" data-target="#commitModalCenter">
        <i class="fa fa-save fa-fw"></i>Commit Changes
      </button>
      <p class="small"><b> A change to {{ sessionDoc.procedureDetails.procedure_name }} has been detected.</b> <br> Save your changes back to the GitLab repository.</p>
      {%include "partials/commit-project-form.html" %}
    {% endif %}
</div>
 </div>

  <div class="row " style="column-count: 4;">
      <div class="sub-col-t">
        <h4 class="timelineTop"></h4>
        <ul class="timelineL">
          <li
            id="{{ procedure.position }}"
            class="timelineBuffer">
          </li>
          {% for time in ['00:30','01:00','01:30','02:00','02:30','03:00','03:30','04:00','04:30','05:00','05:30','06:00','06:30'] %}
          <li
            id="{{ procedure.position }}"
            class="timelineTickL">
            {{time}} -
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="sub-col-li">
          {% set header = sessionDoc.columnHeaderText %}
        <h4 class="border text-center">{{ header| first }}</h4>
        <ul class=" sortable-list list-group" id="crew">
          {% for procedure in actor1timeline %}
          <li
            id="{{ procedure.position }}"
            class="list-group-item ui-state-default "
            style="background-color:{{ procedure.color }}; height:{{procedure.cellHeight}}px"
          >
            {{ procedure.title | center}}
            <span class="badge duration">{{ procedure.hours }}:{{ procedure.minutes}}</span><a class="delete" href="/summary/delete?itemId={{ procedure.position }}"><i class="fa fa-remove "></i></a></li>
          </li>
         {% endfor %}
        </ul>
      </div>
      <div class="sub-col-li">
          {% set header = sessionDoc.columnHeaderText %}
          <h4 class="border text-center">{{ header| last }}</h4>
          <ul class="sortable-list1 list-group" id="crew">
            {% for procedure in actor2timeline %}
            <li
              id="{{ procedure.position }}"
              class="list-group-item ui-state-default"
              style="background-color:{{ procedure.color }}; height:{{procedure.cellHeight}}px">
              {{ procedure.title | center}}
              <span class="badge duration">{{ procedure.hours }}:{{ procedure.minutes}}</span><a class="delete" href="/summary/delete?itemId={{ procedure.position }}"><i class="fa fa-remove "></i></a>
            </li>
            {% endfor %}
          </ul>
      </div>
      <div class="sub-col-t">
        <h4 class="timelineTop" ></h4>
        <ul class="timelineR">
          <li
            id="{{ procedure.position }}"
            class="timelineBuffer">

          </li>
          {% for time in ['00:30','01:00','01:30','02:00','02:30','03:00','03:30','04:00','04:30','05:00','05:30','06:00','06:30'] %}
          <li
            id="{{ procedure.position }}"
            class="timelineTick">
            - {{time}}
          </li>
          {% endfor %}
        </ul>
      </div>
  </div>
</div>

  </body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"
></script>

<script>
  $(".sortable-list").sortable({
    connectWith: ".sortable-list",
    axis: "y",
   containment: "#crew",
    update: function(event, ui) {
      var changedList = this.id;
      var positions = $(this).sortable("toArray");
      const ids = {
        id: changedList,
        positions: positions
      };
      $.post("/summary/ordering", ids, function(res) {
       location.reload(true);});
    }
  });
   $(".sortable-list1").sortable({
    connectWith: ".sortable-list1",
    axis: "y",
   containment: "#crew",
    update: function(event, ui) {
      var changedList = this.id;
      var positions = $(this).sortable("toArray");
      const ids = {
        id: changedList,
        positions: positions
      };
      $.post("/summary/ordering", ids, function(res) {
       location.reload(true);});
    }
  });
  $('.delete').click(function(){

    $(this).parent().remove();
   location.reload(true);
});
</script>
{% endblock %}
