@font-face {
  font-family: "FontAwesome";
  src: url('fonts/fontawesome-webfont.eot');
  src: url('fonts/fontawesome-webfont.eot?#iefix') format('eot'),
    url('fonts/fontawesome-webfont.woff') format('woff'),
    url('fonts/fontawesome-webfont.ttf') format('truetype'),
    url('fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

.hidden {

  display: "none";
  visibility: hidden;
}

.border {
  border: 1px solid;
  border-color: lightslategray;
  padding: 10px;

}

table.timeline {
  empty-cells: hide;
}

table {
  empty-cells: hide;
}



.ui-sortable li.ui-state-default:after {
  content: "\f0c9";
  display: inline-block;
  font-family: "FontAwesome";
  position: absolute;
  right: 10%;
  top: 9px;
  text-align: center;
  line-height: 35px;
  color: lightslategrey;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  cursor: move;
}

/* Style the close button (span) */
.delete {
  cursor: pointer;
  position: absolute;
  display: inline-block;
  top:  9px;
  right: 18px;
  text-align: center;
  line-height: 35px;
  color: lightslategrey;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.sub-col-li {
  width:38%;
  margin-left: 1%;
  margin-right: 1%;
}
.sub-col-t {
  width:10%;
}
.timelineR {
  border-left: thin solid #000000;
  border-top: thin solid #000000;
  border-bottom: thin solid #000000;
}
.timelineL {
  border-right: thin solid #000000;
  border-top: thin solid #000000;
  border-bottom: thin solid #000000;
}
.timelineTick {
  height:60px;font-size: small;
}
.timelineTickL {
  height:60px;font-size: small;text-align: right;
}
.timelineBuffer{
  height:50px;
}
.timelineTop {
  color:#ffffff;
  border-width:1px;
  border-style:solid;
  border-color:#ffffff;
  height: 42px;
}

.duration {
  background: lightslategrey;
  color: white;
}

